<h1>Editing property</h1>

<%= render "form", property: @property %>

<br>

<div>
  <%= link_to "Show this property", @property, class: "btn btn-success mb-2" %> 
  <%= link_to "Back to properties", properties_path, class: "btn btn-secondary mb-2" %>
</div>
